body {
  background: #d82f4e;
}
.card {
  border: none;
}

/* ------------modal */

.modal {
  text-align: center;
}

.readyStart {
  margin: 0 auto;
}

/* ----------header */

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 40px 0 20px 30px;
  font-family: "Stylish", sans-serif;
  font-size: 50px;
  font-weight: bold;
  transform: rotate(-5deg);
  color: white;
}

h2 {
  font-size: 16px;
}

.score {
  background: url("barrel.png") no-repeat center;
  background-size: 60%;
  width: 150px;
  text-align: center;
  margin: 20px 30px 0 0;
  color: white;
}

/* ----question box */

.question {
  width: 600px;
  margin: 100px auto 30px auto;
}

.ask {
  background: #d82f4e;
  color: white;
  font-size: 30px;
  font-family: "Stylish", sans-serif;
}

/* --------answer boxes */

.answers {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.choice {
  background: white;
  width: 350px;
  padding: 20px;
  margin: 20px;
}

/* ----------result box */

.result {
  margin: 30px auto;
  width: 400px;
}

.prompt {
  background: purple;
  text-align: center;
}

.next {
  width: 150px;
  margin: 20px auto;
}

footer {
  background: #6e757c;
  text-align: center;
  padding: 20px;
  margin: 0;
}
